<div class="col-md-offset-1 col-md-7">
    <h3>Bonuses:</h3>
    <div class="table-responsive">
        <table class="table table-hover table-responsive css-serial">
            <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Type</th>
                <th>Description</th>
                <th>Price</th>
                <th class="text-center">Update</th>
                <th class="text-center">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bonus of bonuses">
                <td></td>
                <td>{{bonus.title}}</td>
                <td>{{bonus.bonusType.shortName}}</td>
                <td>{{bonus.description}}</td>
                <td>{{bonus.price}}</td>
                <td class="td-icon"><a [routerLink]="['/bonus/update', bonus.id]"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td class="td-icon"><a (click)="deleteBonus(bonus.id)"><span class="glyphicon glyphicon-remove"></span></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>