<div class="col-md-offset-1 col-md-7">
    <h3>All bonus types:</h3>
    <table class="table table-hover css-serial">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let bonusType of bonusTypes">
            <td></td>
            <td>{{bonusType.shortName}}</td>
            <td>{{bonusType.description}}</td>
            <td><a [routerLink]="['/bonusType/update', bonusType.id]">Update</a></td>
            <td><a (click)="deleteBonusType(bonusType.id)">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>