<div class="col-md-offset-1 col-md-7">
    <h3>All bonus types:</h3>
    <div class="table-responsive">
        <table class="table table-hover table-responsive css-serial">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th class="text-center">Update</th>
                <th class="text-center">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bonusType of bonusTypes">
                <td></td>
                <td>{{bonusType.shortName}}</td>
                <td>{{bonusType.description}}</td>
                <td class="td-icon"><a [routerLink]="['/bonusType/update', bonusType.id]"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td class="td-icon"><a (click)="deleteBonusType(bonusType.id)"><span class="glyphicon glyphicon-remove"></span></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>