<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title text-left">Internal registration</div>
        </div>
        <div class="panel-body panel-body-layout">
            <div class="col-md-offset-2 col-md-7">
                <form class="form-horizontal" name="internalRegistrationForm" [formGroup]="registrationForm" (ngSubmit)="registrationForm.valid && register(registrationForm)" novalidate>
                    <div class="form-group">
                        <label for="firstName" class="control-label col-md-3">First name</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="firstName" name="firstName" formControlName="firstName"/>
                            <div class="help-block">
                                <ul>
                                    <li *ngFor="let message of formErrors.firstName">{{message}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="control-label col-md-3">Last name</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="lastName" name="lastName" formControlName="lastName"/>
                            <div class="help-block">
                                <ul>
                                    <li *ngFor="let message of formErrors.lastName">{{message}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="middleName" class="control-label col-md-3">Middle name</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="middleName" name="middleName" formControlName="middleName"/>
                            <div class="help-block">
                                <ul>
                                    <li *ngFor="let message of formErrors.middleName">{{message}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="control-label col-md-3">Username</label>
                        <div class="col-md-9">
                            <input type="email" class="form-control" id="username" name="username" formControlName="username"/>
                            <div class="help-block">
                                <ul>
                                    <li *ngFor="let message of formErrors.username">{{message}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label for="password" class="control-label col-md-3">Password</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" id="password" name="password" formControlName="password"/>
                            <div class="help-block" *ngIf="formErrors.password">{{formErrors.password}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="birthday" class="control-label col-md-3">Birthday</label>
                        <div class="col-md-9">
                            <my-date-picker type="date" id="birthday" name="birthday" formControlName="birthday">

                            </my-date-picker>
                            <div class="help-block">
                                <ul>
                                    <li *ngFor="let message of formErrors.birthday">{{message}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-offset-6 col-md-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="gender" name="gender" formControlName="gender"/>Male?
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-6 col-md-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="isParent" name="gender" formControlName="isParent"/>Is parent?
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-offset-5 col-md-5">
                        <button [disabled]="loading" class="btn btn-primary">Add</button>
                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
                    </div>
                    <div class="form-group">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>