<div class="task">
    <div class="row">
        <div class="col-md-3">
            <img src="/img/task.png" height="70" width="70">
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6">
                    {{task.description}}
                </div>
                <div class="col-md-6">
                    <div>
                        Bonus: {{task.bonus.title}}
                    </div>
                    <div>
                        Creator: {{task.creator.firstName}} {{task.creator.lastName}}
                    </div>
                </div>
            </div>
            <div class="row" *ngIf='authService.isParent()'>
                <div class="col-md-6">
                    <a [routerLink]="['/task/update', task.id]">Update <span class="glyphicon glyphicon-pencil"></span></a>
                    <a (click)="deleteTask(task.id)">Delete <span class="glyphicon glyphicon-remove"></span></a>
                </div>
                <div class="col-md-6"></div>
            </div>

            <div class="row" *ngIf='!authService.isParent()'>
                <div class="col-md-6">
                    <a *ngIf='isOpen(task.status)' (click)="requestForApproval(task.id)">Send for approval <span class="glyphicon glyphicon-send"></span></a>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>

    </div>
</div>