<div class="row">
    <div class="col-md 8">Tasks</div>
    <div class="btn-group col-md-4">
        <button type="button" class="btn btn-primary" (click)="loadAllTasksOnClick($event)" value="OPEN">OPEN</button>
        <button type="button" class="btn btn-primary" (click)="loadAllTasksOnClick($event)" value="SOLVED">CLOSED</button>
    </div>
</div>

<div class="componentsList col-md-offset-1 col-md-10">
    <task *ngFor="let task of tasks"
          [task] ="task"
          (onDeleteTask)="onDelete($event)">
    </task>
</div>