 <!--&lt;!&ndash; Navigation &ndash;&gt;-->
    <nav class="navbar navbar-default navbar-fixed-top navbar-border" role="navigation">
        <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">FT</a>
            </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-layout" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a [routerLink]="['home']" *ngIf='authService.isLoggedIn()'>Home</a></li>
                    <li><a [routerLink]="['about']" *ngIf='!authService.isLoggedIn() && authService.isParent()'>About</a></li>
                    <li><a [routerLink]="['internalUser/create']" *ngIf='authService.isLoggedIn() && authService.isParent()'>Regist additional user</a></li>
                    <li><a [routerLink]="['internalUser/list']" *ngIf='authService.isLoggedIn() && authService.isParent()'>Users</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a [routerLink]="['register']" *ngIf='!authService.isLoggedIn()'>Register</a></li>
                    <li><a [routerLink]="['login']" *ngIf='!authService.isLoggedIn()'><span></span>Login</a></li>
                    <li><a (click)=authService.logout() *ngIf="authService.isLoggedIn()">Log Out</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-3 sidenav">
            <router-outlet name="navigation"></router-outlet>
        </div>
        <div class="col-md-9" style="padding-top: 20px">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>

    <!-- Footer -->
</div>

 <footer>
     <div>
         <p style="text-align: center; margin-top: 15px" class="">Copyright &copy; My Website 2017</p>
     </div>
 </footer>