<!--&lt;!&ndash; Navigation &ndash;&gt;-->
<nav class="navbar navbar-default navbar-fixed-top navbar-border" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">FT</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-layout" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['details']" >About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a [routerLink]="['register']">Register</a></li>
                <li><a [routerLink]="['login']"><span></span>Login</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12" style="padding-top: 20px">
            <alert></alert>
            <div *ngIf="loading" class="">
                <div class="absolute-center"></div>
                <span class="vh-center">
                    <sk-circle></sk-circle>
                </span>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>

    <!-- Footer -->
</div>

<footer>
    <div>
        <p style="text-align: center; margin-top: 15px" class="">Copyright &copy; My Website 2017</p>
    </div>
</footer>