body{margin-top:50px;}
.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td {
    padding-left: 15px;
    text-align: left;
}
.panel-body .table {margin-bottom: 0px; }