<div class="col-md-offset-1 col-md-8">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Sing up</div>
            <div class="panel-push-right"><a [routerLink]="['/login']">Sign in</a></div>
        </div>

        <div class="panel-body panel-body-layout">
            <form class="form-horizontal"class="form-horizontal" name="registrationForm" [formGroup]="registrationForm" (ngSubmit)="registrationForm.valid && register(registrationForm)" novalidate>
                <div class="form-group">
                    <label for="firstName" class="control-label col-md-3">First name</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="firstName" name="firstName" formControlName="firstName"/>
                        <div class="help-block">
                            <ul>
                                <li *ngFor="let message of formErrors.firstName">{{message}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="control-label col-md-3">Last name</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="lastName" name="lastName" formControlName="lastName"/>
                        <div class="help-block">
                            <ul>
                                <li *ngFor="let message of formErrors.lastName">{{message}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="middleName" class="control-label col-md-3">Middle name</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="middleName" name="middleName" formControlName="middleName"/>
                        <div class="help-block">
                            <ul>
                                <li *ngFor="let message of formErrors.middleName">{{message}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username" class="control-label col-md-3">Username</label>
                    <div class="col-md-9">
                        <input type="email" class="form-control" id="username" name="username" formControlName="username"/>
                        <div class="help-block">
                            <ul>
                                <li *ngFor="let message of formErrors.username">{{message}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group" >
                    <label for="password" class="control-label col-md-3">Password</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" id="password" name="password" formControlName="password"/>
                        <div class="help-block" *ngIf="formErrors.password">{{formErrors.password}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthday" class="control-label col-md-3">Birthday</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control" id="birthday" name="birthday" formControlName="birthday"/>
                        <div class="help-block">
                            <ul>
                                <li *ngFor="let message of formErrors.birthday">{{message}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-6 col-md-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="gender" name="gender" formControlName="gender"/>Male?
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="familyName" class="control-label col-md-3">Family name</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="familyName" name="familyName" formControlName="familyName"/>
                        <div class="help-block">
                            <ul>
                                <li *ngFor="let message of formErrors.familyName">{{message}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-5 col-md-1">
                        <button [disabled]="registrationForm.invalid" class="btn btn-primary">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>