<div class="col-md-offset-2 col-md-7">
    <h2 align="center">Registration</h2>
    <form class="form-horizontal"class="form-horizontal" name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="firstName" class="control-label col-md-3">First Name</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required />
                <div *ngIf="f.submitted && !firstName.valid" class="help-block">First Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="lastName" class="control-label col-md-3">Last Name</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required />
                <div *ngIf="f.submitted && !lastName.valid" class="help-block">Last Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="middleName" class="control-label col-md-3">Middle Name</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="middleName" name="middleName" [(ngModel)]="model.middleName" #middleName="ngModel" required />
                <div *ngIf="f.submitted && !middleName.valid" class="help-block">MiddleName Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="username" class="control-label col-md-3">Username</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="username" name="username" [(ngModel)]="model.username" #username="ngModel" required />
                <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
            </div>
        </div>
        <div class="form-group" >
            <label for="password" class="control-label col-md-3">Password</label>
            <div class="col-md-9">
                <input type="password" class="form-control" id="password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="birthday" class="control-label col-md-3">Birthday</label>
            <div class="col-md-9">
                <input type="date" class="form-control" id="birthday" name="birthday" [(ngModel)]="model.birthday" #birthday="ngModel"/>
                <div *ngIf="f.submitted && !birthday.valid" class="help-block">Birthday is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="gender" class="control-label col-md-3">Male?</label>
            <div class="col-md-9">
                <input type="checkbox" class="form-control" id="gender" name="gender" [(ngModel)]="model.gender" #gender="ngModel"/>
            </div>
        </div>
        <div class="form-group">
            <label for="familyName" class="control-label col-md-3">Family name</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="familyName" name="familyName" [(ngModel)]="model.familyName" #familyName="ngModel" required />
                <div *ngIf="f.submitted && !username.valid" class="help-block">Family is required</div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-5 col-md-5">
                <button [disabled]="loading" class="btn btn-primary">Register</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
            </div>
        </div>
    </form>
</div>